* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F1F3F4;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    margin-top: 20vh;
    background-color: #241F21;
    width: 420px;
    /* height: 620px; */
    border-radius: 10px;
    padding-inline: 20px;
}

.calc-display {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin-block: 30px 30px;
    border-radius: 5px;
}

.calc-buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.calc-col1,
.calc-col2,
.calc-col3,
.calc-col4 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.btn-equal {
    flex: 2;
    /* border-radius: 10%; */
}

.calc-buttons button {
    padding-block: 35px;
    background-color: #241F21;
    color: white;
    border: 1px solid white;
    font-size: 1.2rem;
}